.genIQ {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: lightblue;
  position: sticky;
  top: 0;

}

.headerLinks a {
  color: black;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.appName a {
  color: black;
  font-family: 'Poppins', sans-serif;
}

.appName a:hover {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.appPhrase {
  text-align: center;
  padding: 1em;
  font-family: 'Poppins', sans-serif;
}

.knowledgeHeader {
  text-align: center;
  padding-top: 2em;
  font-family: 'Poppins', sans-serif;
}

.knowledgeContainer {
  width: 80%;
  padding-left: 12em;
  font-family: 'Poppins', sans-serif;
}

.aboutHeader {
  padding-top: 2em;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.aboutInfo {
  width: 80%;
  padding-left: 12em;
  font-family: 'Poppins', sans-serif;
}

.connectExplainer {
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: 'Poppins', sans-serif;
}

.connectContainer {
  width: 80%;
  padding-left: 12em;
  font-family: 'Poppins', sans-serif;
}

.youtubeVideo {
    text-align: center;
    padding-top: 3em;
}
