.genIQ {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: lightblue;
}

body {
  background-color: whitesmoke;
}

.headerLinks {
  color: black;
}

.appPhrase {
  text-align: center;
  padding: 1em;
}
